<h2>Redmine Websocket Notifier</h2>

<h3>Setup</h3>
<ol>
  <li>
    Install a Google Chrome extension from a following link<br>
    <%= link_to 'install chrome extension', home_path + 'plugin_assets/redmine_websocket_notifier/crx/redmine-notifier-for-chrome.crx' %><br>
    <br>
  </li>
  <li>Open Google Chrome extension page<br>
    <%= image_tag 'ss1.png', :plugin => :redmine_websocket_notifier %><br>
    <br>
  </li>
  <li>Open <strong>Redmine Websocket Notifier</strong> options page<br>
    <%= image_tag 'ss2.png', :plugin => :redmine_websocket_notifier %><br>
    <br>
  </li>
  <li>Set your Redmine url and api key<br>
    <%= image_tag 'ss3.png', :plugin => :redmine_websocket_notifier %><br>
    <br>
  </li>
</ol>
